body {
  font-family: 'Noto Serif', serif;
}

section {
    padding: 60px 136px;
}

.active {
    font-weight: 500;
    color: black;
}

#newsletter {
    padding: 48px 0;
}

@media screen and (max-width: 768px) {
    section {
        padding: 24px 0px;
    }
}